# Google Service Account Credentials
# Create a Service Account in Google Cloud Console, download JSON key
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_PRIVATE_KEY=

# The Spreadsheet ID
SPREADSHEET_ID=1x75Ms8xPARMsz-dJGm7Hz6g8QvHJCZrRNQrf_X-HYZM

# App URL for reference
APP_URL=http://localhost:3000
